$celeste: hsl(214, 32%, 58%);
$celeste-claro: hsl(211, 32%, 77%);
$gris-celeste: hsl(208, 28%, 88%);
$azul: hsl(203, 32%, 59%);
$azul-claro: hsl(214, 47%, 85%);
$azul-oscuro: hsl(216, 28%, 20%);
$azul-zafiro: hsl(201, 85%, 31%);
$azul-ceruleo: hsl(226, 46%, 46%);
$azul-sombra: hsl(212, 22%, 61%);
$txtBlanco: hsl(96, 71%, 99%);
$negro-intenso: hsl(240, 100%, 1%);
$negro-opaco: #040F16;
/* $bodyBg: ;
$borderColor: ;
$btnHoverColor: ; */
$blur: blur(10px);

//
$piel: #EEE2DF;
$rosa-viejo: #C89F9C;
$bordo: #A63446;
$borgoña: #721121;
$vino: #6A2E35;
$negro-pasas: #2E2836;
